/*  naviagation bars */
nav {
    background-color: #111;
}
#logoName {
    color: gold;
}
.side-nav {
    background-color: #111;
}
/*  end of navigation bars */



/*  custom links */
#aboutMe {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#contact {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#photosL {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#socialM {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#socialLinks {
    padding: 3px;
    color: #818181;
    font-size: 16px;
    margin-left: 50px;
    text-decoration: none;
}
/*  end of custom links */



/*  parallax */
.parallax1 {
    width: 100%;
    height: 800px;
    background-color: #333;
}
.galleryParallax {
    width: 100%;
    padding: 450px 0;
    background-image: url(images/IMG_4.JPG);
    background-size: cover;
    background-attachment: fixed;
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
}
/*  end of parallax */



/*  gallery images */
#gallery {
    margin-top: -450px;
}
#imgLeft {
    width: 250px;
    height: auto;
}
#imgRight {
    width: 250px;
    height: auto;
}
/*  end of gallery images */



/*  scroll to the top */
#goToTop {
    right: 5%;
    width: 50px;
    height: 50px;
    bottom: 50px;
    color: white;
    position: fixed;
    text-align: center;
    background-color: gold;
    margin: auto;
    border-radius: 50%;
}
#click {
    margin-top: 5px;
    font-size: 40px;
}
/*  end of the scroll to the top */


/*  footer */
#footer {
    margin-top: 600px;
    background-color: #111;
}
#logoImg {
    height: 105px;
    width: 125px;
}
.contactInfo {
    color: gold;
}
#email {
    color: white;
    font-size: 30px;
}
#eInfo {
    color: white;
    font-size: 15px;
    margin-top: -32px;
    margin-left: 40px;
}
#innerflick {
    color: white;
    font-size: 18px;
    text-decoration: underline;
}
/*  end of the footer */









/*  mobile ready devices */
/*----------------------  550 pix -------------------*/
@media (max-device-width: 550px) {
    #imgLeft {
        left: 10%;
        margin-top: 10px;
    }
    #imgRight {
        left: 10%;
        margin-top: 10px;
    }
    
    
    #footer {
        margin-top: 2210px;
    }
    
    
    #logoImg {
        margin-left: 25%;
    }
}