/*  top navigation bar */
nav {
    background-color: #111;
}
#open {
    font-size: 40px;
}
.open {
    color: white;
}
#logoName {
    color: gold;
}
/*  end of top navigation bar */



/*  side navigation menu */
.side-nav {
    background-color: #111;
}
.slider {
    margin-top: 20px;
}
/*  end of side navigation menu */



/*  custom links */
#aboutMe {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#contact {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#photosL {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#socialM {
    color: #bdbdbd;
    font-size: 20px;
    text-decoration: none;
}
#socialLinks {
    padding: 3px;
    color: #818181;
    font-size: 16px;
    margin-left: 50px;
    text-decoration: none;
}
/*  end of custom links */



/*  parallax */
.parallax1 {
    width: 100%;
    height: 800px;
    background-color: #333;
}
.youtubeParallax {
    width: 100%;
    padding: 450px 0;
    background-image: url(images/IMG_4.JPG);
    background-size: cover;
    background-attachment: fixed;
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
}
/*  end of parallax */



/*  youtube video */
#videoContainer {
    width: 100%;
    margin-top: -385px;
}
/*  end of youtube video */



/*  mixtapePicture */
#mixtapeSection {
    background-color: #333;
}
#darkLife {
    color: gold;
    font-size: 38px;
}
#comingS {
    color: white;
    font-size: 28px;
    text-align: center;
}
.cd {
    width: 400px;
    margin: auto;
    border-top: 5px solid grey;
    border-left: 20px solid black;
    border-right: 5px solid grey;
    border-bottom: 5px solid grey;
}
.imgPad {
    border: 2px solid #e0e0e0;
}
#mixtapePicture {
    height: 285px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*  end of mixtapePicture */



/*  logo parallax */
.parallax2 {
    width: 100%;
    height: 800px;
    background-color: #333;
}
.logoParallax {
    width: 100%;
    padding: 500px 0;
    background-image: url(images/crew1.JPG);
    background-size: cover;
    background-attachment: fixed;
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
}
/*  end of logo parallax */



/*  the sound cloud box playlist */
#trackSection {
    background-color: #333;
}
#myTracks {
    color: gold;
}
.line {
    width: 100%;
    margin-left: -15px;
    background-color: black;
    height: 2px;
}

.label {
    color: white;
    margin-top: none;
    margin-right: none;
    margin-left: 100px;
    margin-bottom: none;
}
.songs {
    margin: auto;
    height: 500px;
    width: 1000px;
    padding-left: 100px;
    padding-right: 50px; 
}
.flickity-prev-next-button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: #424242;
}
.flickity-prev-next-button:hover { background: gold; }
.flickity-prev-next-button .arrow { fill: white; }
.flickity-prev-next-button.no-svg { color: white; }
.flickity-prev-next-button.previous { left: -100px; }
.flickity-prev-next-button.next { right: -100px; }
.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
    background-color: white;
}
/*  the sound cloud box playlist */



/*  about me parallax */
.parallax3 {
    width: 100%;
    height: 800px;
    background-color: #333;
}
.myParallax {
    height: 800px;
    width: 100%;
    padding: 300px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(images/IMG_2.JPG);
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
}
#aboutText {
    font-size: 18px;
}
#signature {
    color: gold;
}
#mobileCrew {
    display: none;
}
/*  end of the about me parallax */



/*  footer */
#footer {
    margin-top: -10px;
    background-color: #111;
}
.contactInfo {
    color: gold;
}
#email {
    color: white;
    font-size: 30px;
}
#eInfo {
    color: white;
    font-size: 15px;
    margin-top: -32px;
    margin-left: 40px;
}
#logoImg {
    height: 105px;
    width: 125px;
}
#innerflick {
    color: white;
    font-size: 18px;
    text-decoration: underline;
}
/*  end of the footer */


/*  scroll to the top */
#goToTop {
    right: 5%;
    width: 50px;
    height: 50px;
    bottom: 50px;
    color: white;
    position: fixed;
    text-align: center;
    background-color: gold;
    margin: auto;
    border-radius: 50%;
}
#click {
    margin-top: 5px;
    font-size: 40px;
}
/*  end of the scroll to the top */







/*  mobile ready devices */
/*----------------------  550 pix -------------------*/
@media (max-device-width: 550px) {
/*  nav bar */
    #brandName {
        color: gold;
        font-size: 25px;
        font-family: 'Oregano';
    }
/*  end of nav bar */

    
/*  mixtapePicture */
    .cd {
        width: 285px;
    }
    #mixtapePicture {
        height: 250px;
    }
/*  end of mixtapePicture */
    
    

/*  sound cloud */
    #sectionTracks {
        margin-top: -100px;
        height: 600px;
    }
    .label {
        margin-right: 0px;
        margin-left: 0px;
        font-size: 16px;
        text-align: center;
    }
    .soon {
        font-size: 40px;
    }
    #myTracks {
        text-align: center;
        font-size: 35px;
    }
    .line {
        width: 90%;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .songs {
        margin: auto;
        width: auto;
        height: 400px;
        padding-left: 40px;
        padding-right: 40px; 
    }
    .flickity-prev-next-button.previous { 
        left: 0px;
        width: 0px;
        height: 0px;
    }
    .flickity-prev-next-button.next { 
        right: 0px;
        width: 0px;
        height: 0px;
    }
/*  end of sound cloud */
/*  go to top button */
    #goToTop {
        right: -1%;
        bottom: 25px;
    }
    
    #logoImg {
        margin-left: 25%;
    }
/*  end of go to top button */
}



/*----------------------  800 pix -------------------*/
@media (max-device-width: 800px) {
/*  nav bar */
    .navTop {
        top: 0;
        width: 100%;
        padding: none;
        background-color: #111;
    }
    #brandName {
        color: gold;
        font-size: 25px;
        font-family: 'Oregano';
    }
/*  end of nav bar */
/*  parallax1 */
    .parallax1 {
        width: 100%;
        height: 800px;
        background-color: #333;
    }
    .mixtapeParallax {
        width: 100%;
        padding: 500px 0;
        background-image: url(images/IMG_4.JPG);
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-transition: all 0.2 ease;
        -moz-transition: all 0.2 ease;
        -o-transition: all 0.2 ease;
    }
    #videoContainer {
        margin-top: -250px;
    }
/*  end of parallax1 */
/*  sound cloud */
    #sectionTracks {
        height: 600px;
    }
    #myTracks {
        text-align: center;
        font-size: 35px;
    }
    .line {
        width: 90%;
        margin: auto;
        margin-top: -10px;
        margin-bottom: 20px;
    }
    .songs {
        margin: auto;
        width: 500px;
        height: 400px;
        padding-left: 40px;
        padding-right: 40px; 
    }
    .flickity-prev-next-button.previous { 
        left: 0px;
        width: 0px;
        height: 0px;
    }
    .flickity-prev-next-button.next { 
        right: 0px;
        width: 0px;
        height: 0px;
    }
/*  end of sound cloud */    
/*  go to top button */
    #goToTop {
        right: 2.5%;
        bottom: 25px;
    }
/*  end of go to top button */
}

/*  end of mobile ready devices */